<!doctype html>
<html>
  <head>
    <title>User Information</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: brown;
      }

      p {
        color: tomato;
        font-size: 2rem;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1 class="blueBg">User Information</h1>
    <p>Name: <%= user.first_name %></p>
    <p>Age: <%= user.age %></p>
  </body>
</html>
